@import 'colores.less';

.user-info{background-color: #dcdcdc !important;height: 90px !important;
    .foto-name{
        .name{display: inline-block;font-size: 18px}
    }
}

.block-header{
    #titulo{padding: 0 0 15px 0 !important;}
    #right{padding: 0 0 15px 0 !important; margin-top: -15px;
        .btn:hover{color:@color-white !important;}
        .btn:focus{color:@color-white !important;}
    }
}

.card{
    .footer{padding-left: 20px;padding-bottom: 20px;
        h3{margin: 0}
    }
}

.no-hover{
    .btn:hover{color:@color-white !important;}
    .btn:focus{color:@color-white !important;}
}

.modal-body{
    form{.row{margin-bottom: 15px;}}
}

.bb-alert {position: fixed;bottom: 15%;right: 0;margin-bottom: 0;font-size: 1.2em;padding: 1em 1.3em; z-index: 2000;animation-delay: 4s;}


.icon-name{position: relative;top: -6px;left: 4px;}

#detail-employed{
    .row{;
        [class*="col-"]{margin-bottom: 2px !important;}
    }
}

/* call button */
.call-button{display: none;position: fixed;box-shadow: 0 0 2px #888;bottom: 15px;right: 15px;z-index: 3;width: 60px;height: 60px;background-color: black;border-radius: 50%;
    i{width: 100%;display: inline-table;text-align: center;color: #fff;font-size: 28px;margin-top: 25%;}
}
.call-button:hover{background-color: black;}
/* end call button */


/*------------------------------------------------Responsive----------------------------------------------------------*/
@media handheld, only screen and (max-width: 1170px) {
    .navbar{height: 70px;
        .container-fluid{
            img{height:35px;padding-left: 45px;margin-top: 9px}
        }
    }
}

@media handheld, only screen and (max-width: 640px) {
    .call-button{display: block;}
}

@media handheld, only screen and (max-width: 340px) {
    .call-button{display: block;}
}