@import url(https://fonts.googleapis.com/css?family=Courgette);
@fuente-login:'RobotoDraft', 'Roboto', sans-serif;
@import 'colores.less';

.login-body{background-color:@colorbase; font-family: @fuente-login;
    .login-container{width: 370px;
        .panel{border: 1px solid @gris-login; margin-top: 15%;background-color: @color-white;
            img{width: 170px;margin-top: 25px;}
            .panel-heading{border-bottom:0;background-color: @color-white !important;}
            .panel-body{padding:20px 20px 20px 20px;
                .left-inner-addon{position: relative;
                    i{position: absolute; padding: 10px; pointer-events: none; color: @colorbase}
                    input{padding-left: 35px;}
                    input:focus{border-color:#bdbdbd; box-shadow: 0px 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px rgba(61, 156, 255, 0.5);}
                    //.btn-default{padding:10px;background-color:@color-white;color: @colorbase;margin-top:5px; border-bottom-color:@colorbase }
                    .input-icon{padding-left: 35px;padding-right: 12px;border-top-left-radius: 3px; border-bottom-left-radius: 3px;}
                }
                .msg-red{text-align: center; color: @color-red}
                button{background-color: @color-white;border: 1px solid @colorbase;}
            }
        }
    }
    .footer{color: @gris-login;}
}