@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  src: local('Courgette Regular'), local('Courgette-Regular'), url(https://fonts.gstatic.com/s/courgette/v6/wEO_EBrAnc9BLjLQAUk1VvoP.ttf) format('truetype');
}
.login-body {
  background-color: #000;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
}
.login-body .login-container {
  width: 370px;
}
.login-body .login-container .panel {
  border: 1px solid #e5e5e6;
  margin-top: 15%;
  background-color: #fff;
}
.login-body .login-container .panel img {
  width: 170px;
  margin-top: 25px;
}
.login-body .login-container .panel .panel-heading {
  border-bottom: 0;
  background-color: #fff !important;
}
.login-body .login-container .panel .panel-body {
  padding: 20px 20px 20px 20px;
}
.login-body .login-container .panel .panel-body .left-inner-addon {
  position: relative;
}
.login-body .login-container .panel .panel-body .left-inner-addon i {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color: #000;
}
.login-body .login-container .panel .panel-body .left-inner-addon input {
  padding-left: 35px;
}
.login-body .login-container .panel .panel-body .left-inner-addon input:focus {
  border-color: #bdbdbd;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(61, 156, 255, 0.5);
}
.login-body .login-container .panel .panel-body .left-inner-addon .input-icon {
  padding-left: 35px;
  padding-right: 12px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.login-body .login-container .panel .panel-body .msg-red {
  text-align: center;
  color: #F05050;
}
.login-body .login-container .panel .panel-body button {
  background-color: #fff;
  border: 1px solid #000;
}
.login-body .footer {
  color: #e5e5e6;
}
/*# sourceMappingURL=login.css.map */