{% set dir= baseUrl ~ "/views" %}
<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1.0">
   {% block meta %}{% endblock %}
   <link rel="shortcut icon" type="image/png" href="{{ dir }}/assets/images/favicon.png"/>
   <title>{% block title %}Titulo{% endblock %}</title>
   <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

   <!-- Bootstrap Core Css -->
   <link href="{{ dir }}/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

   <!-- Waves Effect Css -->
   <link href="{{ dir }}/assets/plugins/node-waves/waves.css" rel="stylesheet" />

   <!-- Animation Css -->
   <link href="{{ dir }}/assets/plugins/animate-css/animate.css" rel="stylesheet" />

   <!-- Morris Chart Css-->
   <link href="{{ dir }}/assets/plugins/morrisjs/morris.css" rel="stylesheet" />
   {% block stylesheets %}{% endblock %}

   <!-- Custom Css -->
   <link href="{{ dir }}/assets/css/material/style.min.css" rel="stylesheet">

   <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
   <link href="{{ dir }}/assets/css/material/theme-black.min.css" rel="stylesheet" />

   <!-- Estilo personalizado-->
   <link href="{{ dir }}/assets/css/estilo.min.css" rel="stylesheet" />
</head>
<body class="theme-black">
<!-- Page Loader -->
<div class="page-loader-wrapper">
   <div class="loader">
      <div class="preloader">
         <div class="spinner-layer pl-black">
            <div class="circle-clipper left">
               <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
               <div class="circle"></div>
            </div>
         </div>
      </div>
      <p>Cargando...</p>
   </div>
</div>
<!-- #END# Page Loader -->
<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->
<!-- Search Bar -->
<div class="search-bar">
   <div class="search-icon">
      <i class="material-icons">search</i>
   </div>
   <input id="search-nav" type="text" placeholder="BUSQUEDA...">
   <div class="close-search">
      <i class="material-icons">close</i>
   </div>
</div>
<!-- #END# Search Bar -->
<!-- Top Bar -->
<nav class="navbar">
   <div class="container-fluid">
      <div class="navbar-header">
         <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
         <a href="javascript:void(0);" class="bars"></a>
         <img src="{{ dir }}/assets/images/logo-white.png" id="logo">
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
         <ul class="nav navbar-nav navbar-right">
            <!-- Call Search -->
            <li><a href="javascript:void(0);" class="js-search" data-close="true"><i class="material-icons">search</i></a></li>
            <!-- #END# Call Search -->
         </ul>
      </div>
   </div>
</nav>
<!-- #Top Bar -->
{% include '/assets/include/nav.html.twig' %}

<section class="content">
   <div class="container-fluid">
      <div class="block-header">
         <div id="titulo" class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
            <h2>{% block titleDash %}{% endblock %}</h2>
         </div>
         <div id="right" class="col-xs-3 col-md-3 col-sm-6 col-xs-6 text-right">{% block title_right %}{% endblock %}</div>
      </div>
      {% block content %}{% endblock %}
   </div>
</section>

<script type="text/javascript" src="{{ dir }}/assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="{{ dir }}/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ dir }}/assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script type="text/javascript" src="{{ dir }}/assets/plugins/node-waves/waves.js"></script>
<script type="text/javascript" src="{{ dir }}/assets/js/admin.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>


