{% set dir =  baseUrl ~ "/views" %}
<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<meta charset="utf-8">
	<link rel="icon" type="image/png" href="{{ dir }}/assets/images/favicon.png">
	<meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1.0">
	<!-- CSS -->
	<link href="{{ dir }}/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ dir }}/assets/css/login.min.css" />
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body class="login-body">

<div class="container login-container">
	<div class="login-panel panel panel-default plain animated bounceIn">
		<!-- Start .panel -->
		<div class="panel-heading">
			<h4 class="panel-title text-center">
				<img id="logo" src="{{ dir }}/assets/images/logo-complete.png" alt="J&O">
			</h4>
		</div>
		<div class="panel-body">
			<form class="form-horizontal mt0" method="post" action="{{ urlFor('login-form') }}" id="login-form" role="form">
				<div class="form-group">
					<div class="col-lg-12">
						<div class="left-inner-addon">
							<i class="fa fa-user"></i>
							<input type="text" name="user" class="form-control num" value="" placeholder="Codigo Empleado" required>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-12">
						<div class="left-inner-addon">
							<i class="fa fa-key"></i>
							<input type="password" name="pin" class="form-control" value="" placeholder="PIN (4 digitos)" required>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-12">
						<button class="btn btn-block" type="submit">INGRESAR</button>
					</div>
				</div>
			</form>
			<div class="msg-red">{{ flash['error'] }}</div>
		</div>
	</div>
	<!-- End .panel -->
</div>

<!-- End login container -->
<div class="container animated fadeIn">
	<div class="footer">
		<p class="text-center">&copy;J&O. Todos los derechos reservados. {{ now | date('Y') }}</p>
	</div>
</div>

<script type="text/javascript" src="{{ dir }}/assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="{{ dir }}/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ dir }}/assets/js/onlynum.js"></script>
</body>
</html>


