{% extends '/base.html.twig' %}

{% block title %}Clientes{% endblock %}

{% block titleDash %}<i class="material-icons">person</i><span class="icon-name">CLIENTES</span>{% endblock %}

{% block title_right %}
    <button class="btn bg-black waves-effect waves-light nohover" data-toggle="modal" data-target="#new-customer">NUEVO CLIENTE</button>


    {% include '/assets/include/customer-new.html.twig' %}
    {% include '/assets/include/alert.html.twig' %}
    {% include '/assets/include/delete.html.twig' %}


{% endblock %}

{% block content %}
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                         Clientes
                        <small>Alta, baja y modificaciones de clientes</small>
                    </h2>
                </div>
                <div class="body table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>NOMBRE</th>
                            <th>DOCUMENTO</th>
                            <th>NACIMIENTO</th>
                            <th>CELULAR</th>
                            <th>CORREO</th>
                            <th class="text-center">ACCIONES</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for dato in customer %}
                            <tr>
                                <td>{{ dato.id_cliente }}</td>
                                <td>{{ dato.nombre | upper }}</td>
                                <td>{{ dato.ruc | upper }}</td>
                                <td>{{ dato.nacimiento | date("d/m/Y") }} </td>
                                <td>{{ dato.celular }} </td>
                                <td>{{ dato.correo }} </td>
                                <td class="text-center">
                                    <a class="col-black" href="{{ urlFor('update-customer-page',{id:dato.id_cliente}) }}"><i class="material-icons">create</i></a>
                                    <a class="col-red" href="#" data-href="{{ urlFor('delete-customer', {id:dato.id_cliente}) }}" data-toggle="modal" data-target="#confirm-delete"><i class="material-icons">delete</i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



{% block javascripts %}
    <script type="text/javascript" src="{{ dir }}/assets/plugins/jquery-validation/jquery.validate.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/plugins/jquery-validation/localization/messages_es.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/js/delete.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/js/form-validate.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/js/pages/customer.js"></script>
{% endblock %}
