{% extends '/base.html.twig' %}

{% block title %}Cliente{% endblock %}


{% block titleDash %}Modificacion de Cliente{% endblock %}

{% block content %}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Cliente: {{ customer.nombre }}</h2>
            </div>

            <div class="body">
                {# Formulario Actualizar Cliente#}
                <form id="form_validation" class="form-horizontal" method="post" action="{{ urlFor('update-customer') }}" >
                    <input type="hidden" name="id" value="{{ customer.id_cliente }}" />

                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label for="name">Nombre</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" name="name" class="form-control text-uppercase" value="{{ customer.nombre }}" required />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label for="ruc">RUC o CI</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" name="ruc" class="form-control" value="{{ customer.ruc }}" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label for="nacimiento">Nacimiento</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="date" name="birthdate" class="form-control" value="{{ customer.nacimiento|date("Y-m-d") }}" required />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label for="celular">Ciudad</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" name="city" class="form-control" value="{{ customer.direccion }}" required />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label for="celular">Celular</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" name="phone" class="form-control" value="{{ customer.celular }}" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label for="ruc">Correo</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" name="email" class="form-control" value="{{ customer.correo }}" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-right m-r-10"><input type="submit" value="ACTUALIZAR" class="btn btn-primary" /></div>
                </form>
            </div>
        </div>
        <div class="no-hover"><a class="btn bg-black waves-effect waves-light" href="{{ urlFor('customer') }}"><i class="material-icons">arrow_back</i><span> REGRESAR</span></a></div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ dir }}/assets/plugins/jquery-validation/jquery.validate.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/plugins/jquery-validation/localization/messages_es.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/js/form-validate.js"></script>
    <script type="text/javascript">
        $('.menu li:eq(3)').addClass('active');
    </script>
{% endblock %}