<!-- Modal nuevo cliente-->
<div class="modal fade" id="new-customer" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button id="cerrar_modal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center" id="defaultModalLabel">Cargar Cliente</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="insert-customer" method="post" action="{{ urlFor('insert-customer-ajax') }}">
                    <div class="row clearfix">

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label">
                            <label for="email_address_2">Nombre</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" name="name" class="form-control" autocomplete="off" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label">
                            <label for="email_address_2">CI o RUC</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="number" name="documento" class="form-control" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>

                    {#<div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label">
                            <label for="email_address_2">RUC</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" name="ruc" class="form-control" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>#}

                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label">
                            <label for="email_address_2">Nacimiento</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="date" name="birthdate" class="form-control"  autocomplete="off" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label">
                            <label for="email_address_2">Celular</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" name="phone" class="form-control"  autocomplete="off" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label">
                            <label for="email_address_2">Ciudad</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" name="address" class="form-control"  autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label">
                            <label for="email_address_2">Correo</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="email" name="email" class="form-control"  autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 right">
                            <button type="submit" class="text-left btn btn-primary m-t-10 m-r-25 waves-effect">INSERTAR</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>