<section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- User Info -->
        <div class="user-info">
            <div class="foto-name" style="display: inline-block">
                <div class="image">
                    <img src="{{ dir }}/assets/images/foto/{{ user['foto'] }}" width="48" height="48" alt="foto" />
                </div>
                <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user['nombre'] }}</div>
            </div>
        </div>
        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                <li class="header">MENU DE NAVEGACION</li>

                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">card_giftcard</i>
                            <span>Tarjetas</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="{{ urlFor('card-add-point') }}">Cargar Puntos</a>
                            </li>
                            <li>
                                <a href="{{ urlFor('card-register') }}">Registrar Tarjeta</a>
                            </li>
                            <li>
                                <a href="">Canjear Puntos</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="{{ urlFor('customer') }}">
                            <i class="material-icons">group</i>
                            <span>Clientes</span>
                        </a>
                    </li>

                <li class="header">Sesión</li>
                <li>
                    <a href="{{ urlFor('logout') }}">
                        <i class="material-icons col-red">input</i>
                        <span>Cerrar Sesión</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- #Menu -->
        <!-- Footer -->
        <div class="legal">
            <div class="copyright">
                &copy; {{ now|date('Y') }} <a href="javascript:void(0);">J&O Admin</a>.
            </div>
            <div class="version">
                <b>Version: </b> 1.0 - Desarrollado por <a href="http://www.puntocode.com.py" target="_blank">PUNTOCODE</a>
            </div>
        </div>
        <!-- #Footer -->
    </aside>
    <!-- #END# Left Sidebar -->
</section>