<!-- Modal pagar boleta-->
<div class="modal fade" id="pay-ticket" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button id="cerrar_modal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center" id="defaultModalLabel">Pagar Boleta</h4>
            </div>
            <div class="modal-body">
                <form  id="#payment-ticket" class="form-horizontal" name="pay-ticket" method="post" action="{{ urlFor('pay-ticket') }}">



                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label">
                            <label for="email_address_2">EFECTIVO</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" name="cash" class="form-control num" autocomplete="off" value="0" >
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label">
                            <label for="email_address_2">TARJETA</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" name="card" class="form-control num" autocomplete="off" value="0">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label">
                            <label for="email_address_2">CHEQUE</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" name="check" class="form-control num" autocomplete="off" value="0">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label">
                            <label for="email_address_2">Descripción</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" name="description" class="form-control" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5 text-left">
                            <input type="checkbox" name="facture" id="remember_me_3" class="filled-in">
                            <label for="remember_me_3">FACTURA</label>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                            <button type="submit" class="btn btn-success m-t-10 m-r-25 waves-effect" data-type="ajax-loader">PAGAR</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>