{% extends '/base.html.twig' %}

{% block title %}CLIENTE VIP{% endblock %}


{% block titleDash %}<i class="material-icons">card_giftcard</i><span class="icon-name">Carga de Puntos</span>{% endblock %}

{% block content %}

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>TARJETA</h2>
                </div>

                <div class="body">
                    {# Formulario Insertar Puntos Tarjetas#}
                    <form id="form_validation" class="form-horizontal" method="post" action="{{ urlFor('card-insert-point') }}" >

                        <div class="row clearfix">
                            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                <label for="name">Numero de Tarjeta</label>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" name="number" class="form-control num" required />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                <label for="ruc">Puntos</label>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" name="point" class="form-control num" required />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-right m-r-10"><input type="submit" value="INSERTAR" class="btn btn-primary" /></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ dir }}/assets/plugins/jquery-validation/jquery.validate.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/plugins/jquery-validation/localization/messages_es.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/js/form-validate.js"></script>
    <script type="text/javascript">
        $('.menu li:eq(1)').addClass('active');
        $('.menu li:eq(2)').addClass('active');
    </script>
{% endblock %}