{% set dir =  baseUrl ~ "/views" %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="{{ dir }}/assets/images/favicon.png">
    <meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1.0">
    <!-- CSS -->
    <link href="{{ dir }}/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/css/login.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body class="login-body">



<div class="container">
    <div style="padding: 20px; text-align: center">
        <img src="{{ dir }}/assets/images/customer-vip.png" alt="logo" style="height: 180px">
    </div>
    <div class="login-panel panel panel-default plain animated bounceIn" style="text-align: center; padding: 20px;font-size: 20px !important;">
        <div>{{ customer.nombre }}</div>
        <div style="font-size: 35px; color:#C2800F">{{ customer.puntos }}</div>
        <div style="font-size: 12px;">PUNTOS ACUMULADOS</div>
        <div><button class="btn btn-default" style="margin-top:15px; color: #C2800F;border:1px solid #C2800F"> VER LISTA DE TRATAMIENTOS</button></div>
        <!-- Start .panel -->
    </div>
    <!-- End .panel -->
</div>

<!-- End login container -->
<div class="container animated fadeIn">
    <div class="footer">
        <p class="text-center">&copy;J&O. Todos los derechos reservados. {{ now | date('Y') }}</p>
    </div>
</div>

<script type="text/javascript" src="{{ dir }}/assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="{{ dir }}/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ dir }}/assets/js/onlynum.js"></script>
</body>
</html>


