{% extends '/base.html.twig' %}

{% block title %}CLIENTES VIP{% endblock %}

{% block stylesheets %}
    <link href="{{ dir }}/assets/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
{% endblock %}

{% block titleDash %}<i class="material-icons">card_giftcard</i><span class="icon-name">Registro de Tarjetas</span>{% endblock %}

{% block title_right %}
    <button class="btn bg-black waves-effect waves-light nohover" data-toggle="modal" data-target="#register-card">REGISTRAR TARJETA</button>
    {% include '/assets/include/alert.html.twig' %}
    {% include '/assets/include/delete.html.twig' %}
{% endblock %}

{% block content %}
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        CLIENTES VIP
                        <small>Alta, baja y modificaciones de las tarjetas</small>
                    </h2>
                </div>
                <div class="body table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>NRO. TAJETAS</th>
                            <th>CLIENTE</th>
                            <th>PUNTOS ACUMULADO</th>
                            <th class="text-center">DETALLE</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for dato in cards %}
                            <tr>
                                <td>{{ dato.id_tarjeta }}</td>
                                <td>{{ dato.nombre | upper }}</td>
                                <td>{{ dato.puntos }} </td>
                                <td class="text-center">
                                    <a class="col-black" href=""><i class="material-icons">view_headline</i></a>
                                    <a class="col-red" href=""><i class="material-icons">delete</i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal nuevo tarjeta-->
    <div class="modal fade" id="register-card" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="cerrar_modal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title text-center" id="defaultModalLabel">Registar Tarjeta</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" name="insert-card" method="post" action="{{ urlFor('card-insert') }}">
                        <div class="row clearfix">

                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label">
                                <label for="nro">Numero</label>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" name="number" class="form-control num" autocomplete="off" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label">
                                <label for="email_address_2">Cliente</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="left: -13px;">
                                <select id="select-customer" name="customer" class="form-control show-tick" data-live-search="true">
                                    {% for entity in customer %}
                                        <option value="{{ entity.id_cliente }}">{{ entity.nombre|upper }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-xs-1" style="top:9px; left: -19px">
                                <a href="" data-toggle="modal" data-target="#new-customer"><i class="material-icons">person_add</i></a>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 right">
                                <button type="submit" class="text-left btn btn-primary m-t-10 m-r-25 waves-effect">INSERTAR</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% include '/assets/include/customer-new.html.twig' %}

{% endblock %}



{% block javascripts %}
    <script type="text/javascript" src="{{ dir }}/assets/plugins/jquery-validation/jquery.validate.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/plugins/jquery-validation/localization/messages_es.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/js/delete.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/js/form-validate.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/js/add-customer.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/js/onlynum.js"></script>
    <script type="text/javascript">
        $('.menu li:eq(1)').addClass('active');
        $('.menu li:eq(3)').addClass('active');
    </script>
{% endblock %}
